@import '~antd/dist/antd.css';


#company-logo {
  width: 200px

}

.ant-upload-list-picture-card .ant-upload-list-item-error {
  border-color: #d5dad5
}

img#halo-logo {
  margin: 1rem;
  border: 5px solid #6b6b6a;
}

tr.deviated {
  background-color: #cf28284b;
}


.ant-modal-title{
  font-size: 1.5rem;
}

/* .ant-table table {
  width: auto;
  min-width: 50%;
}

.ant-table-content {
  width: auto;
  min-width: 50%;
} */

.ant-table-wrapper{
  overflow: auto;
}